p.intro {
  width: 50%;
  font-style: italic;
}
p.author {
  width: 75%;
  font-style: italic;
  font-weight: bold;
}

p.important {
  color: #f72287;
  font-style: bold;

}

div.super-fact {
  color: blue;

}

img {
  float:right;
  margin: 15px;
}

.roster {
  padding-left: 30%;
}

.sidebar {
  float: left;
  width: 20%;
  margin: 15px;
  padding: 15px;
  border: 2px green solid;
  background: green;
  height: 400px;
}
