p.intro {
  width: 50%;
  font-style: italic;
}
p.author {
  width: 75%;
  font-style: italic;
  font-weight: bold;
}

p.important {
  color: #f72287;
  font-style: bold;

}

div.super-fact {
  color: blue;

}
